.main-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  gap: 2%;
  row-gap: 20px;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.heading-name {
  background-color: #000;
  color: white;
  margin: 0px;
  padding: 10px 15px;
  margin-bottom: 5px;
}
#search {
  width: 80%;
  height: 25px;
  font-size: 20px;
  padding: 1px 10px;
  margin: auto;
  display: block;
  border-radius: 5px;
}
#serach:focus {
  outline: none;
}
